{% load static %}
{% load compress %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <title>
            {% block title %}
                Django Tailwind
            {% endblock title %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% compress css file styles %}
            {% tailwind_css %}
        {% endcompress %}
        {% block css %}
        {% endblock css %}
    </head>
    <body class="h-full bg-gray-50 grid grid-rows-[auto_1fr_auto] leading-normal tracking-normal">
        {% include "navbar.html" %}
        <main class="container mx-auto my-4">
            {% block content %}
            {% endblock content %}
        </main>
        {% include "footer.html" %}
        {% compress js file %}
            {% block js %}
            {% endblock js %}
        {% endcompress %}
    </body>
</html>
