<nav class="flex flex-col items-center justify-between px-6 py-4 bg-white dark:bg-gray-800 sm:flex-row">
    <p class="text-gray-700 dark:text-white">
        Complete the
        <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">
            navbar.html
        </span>
        file @
        <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">
            tailwindcss/templates/navbar.html
        </span>
        as your desired navbar.
    </p>
</nav>
