{% load static %}
{% load compress %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <title>
            {% block title %}
                Django Tailwind
            {% endblock title %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% compress css file styles %}
            {% tailwind_css %}
        {% endcompress %}
        {% block css %}
        {% endblock css %}
    </head>
    <body class="h-full bg-gray-50 grid grid-rows-[auto_1fr_auto] leading-normal tracking-normal">
        {% include "base/_navbar.html" %}
        <main class="container mx-auto my-4">
            <div class="max-w-xl">
                {% if messages %}
                    <div class="flex flex-row pl-4 py-2 gap-2 items-center border rounded-lg shadow overflow-hidden dark:bg-gray-900 dark:border-blue-400">
                        <span class="flex-shrink-0 inline-flex mx-3 item-center justify-center leading-none rounded-full dark:bg-blue-400 dark:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 class="h-8 w-8">
                                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd">
                                </path>
                            </svg>
                        </span>
                        <div class="flex-1 p-2 list-none">
                            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "base/_footer.html" %}
        {% compress js file %}
            {% block js %}
            {% endblock js %}
        {% endcompress %}
    </body>
</html>
