<footer class="flex flex-col items-center justify-between px-6 py-4 bg-gray-200 sm:flex-row">
    <p class="text-gray-700">
        <b>
            Footer content
        </b>
    </p>
    <p class="text-sm text-gray-500">
        Complete the
        <span class="bg-gray-100 text-xs font-semibold mr-2 px-1.5 py-0.5 rounded">_footer.html</span>
        file @
        <span class="bg-gray-100 text-xs font-semibold mr-2 px-1.5 py-0.5 rounded">templates/base/_footer.html</span>
        to add your own footer content.
    </p>
</footer>
